@use "./../variables/colors";

.background-gradient {
    position: fixed;
    background-color: green;
    height: 100%;
    width: 100%;
    z-index: -10;
    @include colors.gradient(colors.$main-back, colors.$background-gradient);
}