@use "./../../elements/table";

.container {
    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4em;
        gap: 2em;
    }
}