@use "sass:map";

@use "./../variables/font";
@use "./../variables/colors";
@use "./../variables/breakpoints";
@use "./../elements/gradient";
@use "./../elements/headings";
@use "./../elements/aLink";


@use "./header";

*,
::before,
*::after {
    box-sizing: border-box;
}

:root {
    font: font.$heading-font;
    color: colors.$font-color;
    overscroll-behavior: none;
}

body {
    position: relative;
    height: 100%;
    margin:0;

}