@use "sass:map";

@use "./../variables/font";
@use "./../variables/colors";
@use "./../variables/breakpoints";
@use "./../elements/gradient";
@use "./../elements/headings";
@use "./../elements/aLink";
@use "./../elements/margins";
@use "./../elements/burger";
@use "./../elements/cart";

@use "./header";
@use "./footer";

*,
::before,
*::after {
    box-sizing: border-box;
}

:root {
    font: font.$heading-font;
    color: colors.$font-color;
    overscroll-behavior: none;
    height: 100%;
}

body {
    position: relative;
    margin:0;
    min-height: 100dvh;
}
header {
    flex:0;
}
main {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    flex:0;
}