@use'sass:map';

$screen-sizes: (
    "sm":576px,
    "md":768px,
    "lg":992px,
    "xl": 1200px
);

@mixin breakpoint($size) {
    @media screen and (max-width:map.get($screen-sizes, $size)) {
        @content;
    }
}

.container {
    max-width: map.get($screen-sizes, "xl");
    margin: 0 auto;
    width: 100%;

    &.row {
        display: flex;
        flex-direction: row;
    }

    &.center {
        justify-content: space-between;
        align-items: center;
    }
}