$main-back: rgb(244, 235, 226);
$background-gradient: linear-gradient(135deg, rgba(244, 235, 226, 1) 0%, rgba(214, 210, 200, 1) 100%);

@mixin gradient ($main-color, $gradient) {
    background: $main-color;
    background: $gradient;
}