@use "./../../elements/cards/product";
@use "./../../variables/breakpoints";
main {
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3em 3em;
        padding: 0;
        text-align: center;
        @include breakpoints.breakpoint("xl") {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }
        @include breakpoints.breakpoint("md") {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
        }
    }
}